PORT=4000
NODE_ENV=development

# Email provider: "ethereal" (dev/test) | "mailtrap" (staging/prod)
EMAIL_PROVIDER=ethereal

# Mailtrap SMTP (used when EMAIL_PROVIDER=mailtrap)
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=your_mailtrap_user
MAILTRAP_PASS=your_mailtrap_pass

# Sender identity
EMAIL_FROM_NAME=Godrop
EMAIL_FROM_ADDRESS=noreply@godrop.ng

# System admin seed (used by prisma seed)
SUPER_ADMIN_EMAIL=superadmin@godrop.ng
SUPER_ADMIN_PASSWORD=Change_Me_Now_123!

# Database (PostgreSQL recommended)
DATABASE_URL="postgres://e001bc5e4f7f6cb9150b9799ff77ce03c5784fdf912135ef5f6b88cb23c14904:sk_uj_AiJtM9WmJwamm39WOl@db.prisma.io:5432/postgres?sslmode=require"

# JWT
JWT_SECRET=myscretkey123
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=myscretrefreshkey123
JWT_REFRESH_EXPIRES_IN=30d

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Paystack (Nigerian payment gateway)
PAYSTACK_SECRET_KEY=sk_test_7da8363b91e51b4f868aefb767273b64dd625d99
PAYSTACK_PUBLIC_KEY=pk_test_97ee6074455a1ee3f750f748f4580c0773168b1b

# OTP / SMS (e.g. Termii or Africa's Talking)
TERMII_API_KEY=TLxnHIXnmlqLSkpSDrQGeoiTqQFeRjJmmHIuspahccglSVRvNGNuXABzKvQooQ
TERMII_SENDER_ID=Godrop

# Google Maps (for routing + geocoding)
GOOGLE_MAPS_API_KEY=your_google_maps_key

# Redis (for sessions, caching, real-time tracking)
REDIS_URL=redis://localhost:6379

# File storage (Cloudinary or AWS S3)
CLOUDINARY_CLOUD_NAME=db0wxev2x
CLOUDINARY_API_KEY=887818879817374
CLOUDINARY_API_SECRET=utw8q300MOn6ma-TrNZ5rLaI7XQ
