<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrMiX6CbfpyZ50XbVXSRpCENuJ9DxPa-k</string>
	<key>GCM_SENDER_ID</key>
	<string>639712829781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qnetix.godropinvestor</string>
	<key>PROJECT_ID</key>
	<string>godrop-34d3f</string>
	<key>STORAGE_BUCKET</key>
	<string>godrop-34d3f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639712829781:ios:b614c56cac9ad2a08a4fdc</string>
</dict>
</plist>